.table {
    border-collapse: collapse;
    border-radius: 10px;

}

th {
    background-color: #b63555;
    color: white;
    padding: 2%;
}

th, td {
    padding: 4%;
    text-align: left;
}

tr:nth-child(even){
    background-color: #d1c8c8;
    /* color: white; */
}

.subhead {
    text-decoration: underline ;
    text-decoration-color: black;
}